/* For index.htlm */
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
}


/* For portfolio.htlm */